
<form action="">
  <ng-container *ngFor="let fields of formFields" [ngTemplateOutlet]="fieldTemplate" [ngTemplateOutletContext]="{ $implicit:fields }"></ng-container>
  <button type="submit">Submit</button>
</form>
<ng-template #fieldTemplate let-field>
  <div>
    <label [for]="field.label">{{field.label}}</label>
    <ng-container [ngSwitch]="field.type">
    <input *ngSwitchCase="'text'" type="text" [id]="field.name" [(ngModel)]="field.value" [required]="field.validators.required">
    <input *ngSwitchCase="'number'" type="number" [id]="field.name" [(ngModel)]="field.value" [required]="field.validators.required">
    <input *ngSwitchCase="'email'" type="email" [id] ="field.name"  [(ngModel)]="field.value" [required]="field.validators.required">
    <input *ngSwitchCase="'password'" type="password" [id] ="field.name"  [(ngModel)]="field.value" [required]="field.validators.required">
    <select *ngSwitchCase="'dropdown'" [id]="field.name" [(ngModel)]="field.value" [required]="field.validators.required">
        <option *ngFor="let option of field.options" [value]="option.name">{{option.label}}</option>
    </select>
    </ng-container>
  </div>

</ng-template>